.HOME {
    position: relative;
    background-color: #2e4564;
    background-image: url('background_photo.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
  
  .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 69, 100, 0.7); /* Adjust the color and opacity as needed */
}

  .HOME .top-overlay {
    background: linear-gradient(180deg, rgb(46, 70, 100) 0%, rgba(156.88, 156.88, 156.88, 0) 62.67%);
    height: auto;
    position: relative;
    width: auto;
  }
  
  .HOME .bottom-overlay {
    background: linear-gradient(180deg, rgb(46, 70, 100) 0%, rgba(156.88, 156.88, 156.88, 0) 62.67%);
    width: 1728px;
    transform: scaleY(-1);
  }
  
  .HOME .slightly-blue {
    background-color: #2e45646b;
    height: auto;
    position: relative;
    width: auto;
  }
  
  .HOME .noteworthy {
    color: #ffffff;
    font-family: "Lexend-SemiBold", Helvetica;
    font-size: 100px;
    font-weight: 600;
    left: 10vw; 
    letter-spacing: 3px;
    line-height: normal;
    position: absolute;
    text-shadow: 0.5vw 0.5vw 0.45vw #2e4564; 
    top: 59vh;
  }
  
  .HOME .acapella {
    color: #ffffff;
    font-family: "Lexend-SemiBold", Helvetica;
    font-size: 100px;
    font-weight: 600;
    left: 10vw; 
    letter-spacing: 3px;
    line-height: normal;
    position: absolute;
    text-shadow: 5px 5px 4.5px #2e4564;
    top: 70vh;
  }
  
  .HOME .bottom-line {
    height: 2px;
    position: absolute;
    top: 585px;
  }
  
  .HOME .icon-bar {
    background-color: #2e456491;
    border: 3px solid;
    border-color: #ffffff;
    border-radius: 5px;
    width: 120px;
    height: 400px;
    right: 40px;
    top: 50%;
    transform: translateY(-45%);
    position: absolute;
  }
  
  .HOME .instagram {
    height: 39px;
    left: 40px;
    position: absolute;
    top: 44px;
    width: auto;
  }
  
  .HOME .facebook {
    height: 39px;
    left: 40px;
    position: absolute;
    top: 138px;
    width: auto;
  }
  
  .HOME .youtube {
    height: 39px;
    left: 36px;
    position: absolute;
    top: 321px;
    width: auto;
  }
  
  .HOME .tiktok {
    height: 39px;
    left: 43px;
    position: absolute;
    top: 232px;
    width: auto;
  }

.instagram:hover,
.facebook:hover,
.youtube:hover,
.tiktok:hover {
  transform: scale(1.2);
}

  .HOME .navbar {
    position: absolute;
    top: 60px;
  }
  
  .HOME .overlap-group {
    height: 4px;
    position: absolute;
    top: 82px;
  }
  
  .HOME .line {
    height: 2px;
    position: absolute;
    top: 2px;
  }
  
  .HOME .golden-line {
    left: 88px;
    position: absolute;
  }
  
  .HOME .homeButton {
    color: #ecc12a;
    font-family: "Lexend-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 97px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    background-color: transparent;
    border: none;
    top: 19px;
  }
  
  .HOME .aboutButton {
    color: #c6dded;
    font-family: "Lexend-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 353px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    background-color: transparent;
    border: none;
    top: 19px;
  }
  
  .HOME .videosButton {
    color: #c6dded;
    font-family: "Lexend-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 805px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    background-color: transparent;
    border: none;
    top: 19px;
  }
  
  .HOME .membersButton {
    color: #c6dded;
    font-family: "Lexend-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 1030px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    background-color: transparent;
    border: none;
    top: 19px;
  }

.HOME .homeButton:hover,
.HOME .aboutButton:hover,
.HOME .videosButton:hover,
.HOME .membersButton:hover {
    transform: scale(1.1);
}
  
  .HOME .bearLogo {
    height: 68px;
    left: 600px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 86px;
  }
  
  .HOME .bearLogo:hover {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg); 
    }
    100% {
      transform: rotate(360deg); 
    }
  }