#root {
    text-align: center;
    /* background-image: linear-gradient(to bottom, #2E4564, #C6DDED); */
    display: flex;
    flex-direction: column;
    min-width: 1300px;
}

@media only screen and (max-width: 1000px) {
    #root {
        min-width: 800px;
    }
}

.title {
    background: linear-gradient(to bottom, #ECC12A, #F0F1CF);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
    font-family: 'Lexend';
    font-weight: bold;
    font-size: 36pt;
}

.subtitle {
    background: linear-gradient(to bottom, #ECC12A, #F0F1CF);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: 'Lexend';
    font-size: 16pt;
}

/* NEED TO SET/AUTOMATE WIDTH */
.memberProfileTable {
    display: flex;
    flex-direction: column;
}

/* NEED TO SET/AUTOMATE WIDTH */
/* NEED TO ADD SOME SORT OF CENTER ALIGN HERE*/
.profileRow {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.socialImg {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}