#root {
    text-align: center;
}

/* NEED TO SET/AUTOMATE WIDTH */
.memberPreviewTable {
    display: flex;
    flex-direction: column;

}

/* NEED TO SET/AUTOMATE WIDTH */
/* NEED TO ADD SOME SORT OF CENTER ALIGN HERE*/
.profileRow {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
}