.darkOverlay {
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}

.memberBioBlock {
    position: fixed;
    left: 5%;
    top: 5%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    transform: 'translate(-50%, -50%)';
    background-color: white;
    z-index: 20;
    display: flex;
    flex-direction: column;

  	max-height: 80vh;
  	overflow-y:scroll
}

.exitButton {
    align-self: right;
}

.memberBioContent {
    display: flex;
    flex-direction: row;
}

.memberBio {
    display: flex;
    flex-direction: column;
}

.photoAndInfo {
    display: flex;
    flex-direction: row;
}

.photoAndInfo > img {
    width: 600px;
}

.info {
    display: flex;
    flex-direction: column;
}

.bio {
    white-space: pre-wrap;
}

